html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
    background-color: #f0f0f0;
    font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
    font-size: 13px;
    color: #333;
}

li {
    list-style: none;
}
header {
    font-family: "Georgia", "Times New Roman", Helvetica, Arial, sans-serif;
    background-color: #004F9D;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#0069D0), to(#004F9D));
    background-image: -moz-linear-gradient(#0069D0, #004F9D);
    background-image: -ms-linear-gradient(#0069D0, #004F9D);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0069D0), color-stop(100%, #004F9D));
    background-image: -webkit-linear-gradient(#0069D0, #004F9D);
    background-image: -o-linear-gradient(#0069D0, #004F9D);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0069d0', endColorstr='#004f9d', GradientType=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#0069d0', endColorstr='#004f9d', GradientType=0)";
    background-image: linear-gradient(#0069D0, #004F9D);
    border-top: solid 1px #00488E;
    border-left: solid 1px #00488E;
    border-right: solid 1px #00488E;
    border-bottom: solid 1px #00488E;
    -webkit-box-shadow: inset 1px 1px 1px #0483FF;
    -moz-box-shadow: inset 1px 1px 1px #0483ff;
    box-shadow: inset 1px 1px 1px #0483FF;
    padding: 0 12px 5px 12px;
    background-color: #0169CF;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#0483FF), to(#0169CF));
    background-image: -moz-linear-gradient(#0483FF, #0169CF);
    background-image: -ms-linear-gradient(#0483FF, #0169CF);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0483FF), color-stop(100%, #0169CF));
    background-image: -webkit-linear-gradient(#0483FF, #0169CF);
    background-image: -o-linear-gradient(#0483FF, #0169CF);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0483ff', endColorstr='#0169cf', GradientType=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#0483ff', endColorstr='#0169cf', GradientType=0)";
    background-image: linear-gradient(#0483FF, #0169CF);
    border-bottom: solid 1px #0161C0;
    -webkit-box-shadow: inset 1px 1px 1px #389CFE;
    -moz-box-shadow: inset 1px 1px 1px #389cfe;
    box-shadow: inset 1px 1px 1px #389CFE;
    height: 42px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10000;
}

#page {
  background-color: #f0f0f0;
  width: 750px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

.row {
  width: 100%;
}

.box.blue {
    background-color: #004F9D;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#54A2F0), to(#0069D0));
    background-image: -moz-linear-gradient(#54A2F0, #0069D0);
    background-image: -ms-linear-gradient(#54A2F0, #0069D0);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #54A2F0), color-stop(100%, #0069D0));
    background-image: -webkit-linear-gradient(#54A2F0, #0069D0);
    background-image: -o-linear-gradient(#54A2F0, #0069D0);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#54A2F0', endColorstr='#0069D0', GradientType=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#54A2F0', endColorstr='#0069D0', GradientType=0)";
    background-image: linear-gradient(#54A2F0, #0069D0);
}

.box {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid transparent;
    padding: 2px;
}

.inner-box {
    border: 1px solid #0169CF;
    background: #FFF;
    background-color: #FFF;
}

#logo {
    float: left;
}

#logo h1 {
    color: #FFF;
    font-style: italic;
    font-stretch: semi-expanded;
    font-size: 26px;
    line-height: 30px;
    padding-top: 8px;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
}

.hidden {
  display: none;
  visibility: visible;
}

.deep-text {
    -webkit-text-shadow: 0px -1px #464646;
    -moz-text-shadow: 0px -1px #464646;
    text-shadow: 0px -1px #464646;
    -webkit-text-shadow: 0px -1px rgba(0, 0, 0, 0.5);
    -moz-text-shadow: 0px -1px rgba(0, 0, 0, 0.5);
    text-shadow: 0px -1px rgba(0, 0, 0, 0.5);
}

#page_nav {
    float: right;
    margin-top: 0;
}

#page_nav li {
    display: inline;
    float: left;
}

#page_nav li a {
    color: #FFF;
    display: inline-block;
    font-weight: bold;
    height: 48px;
    line-height: 47px;
    padding: 0 15px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    filter: alpha(opacity=90); /* For IE8 and earlier */
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    opacity: 0.9;
    font-size: 18px;
}

a {
    color: #03c
}

a:hover,
#page_nav li a:hover,
#page_nav li.active a {
    opacity: 1;
}

#page_nav li.active,
#page_nav li a:hover {
    background-color: #004F9D;
    -moz-box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.3);
    -o-box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.3);
}

#content {
    /*padding: 20px 0;*/
}

footer {
    background: #F8F8F8;
    font-family: "Georgia", "Times New Roman", Helvetica, Arial, sans-serif;
    border-top: 1px solid #DADADA;
    clear: both;
    color: #888;
    font-size: 13px;
    height: 31px;
    line-height: 31px;
    margin-top: 30px;
    padding: 10px 0;
    text-align: center;
}

.section {
    background: #EDEDED;
    clear: both;
    padding: 25px 0;
    border: 1px solid white;
    -moz-box-shadow: inset 0 0 45px #DCDCDC;
    -webkit-box-shadow: inset 0 0 45px #DCDCDC;
    box-shadow: inset 0 0 45px #DCDCDC;
}

.section h3 {
    margin: 0;
}

footer span {
    padding: 1px 3px;
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

#front {
    height: 800px;
    background: none;
    background-position: center bottom;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border: 0;
    display: none;
    /*box-shadow: inset 0 0 10px rgba(0, 0, 0, .6);*/
}

h1, h2, h3, h4, h5, h6, li {
    text-rendering: optimizeLegibility;
}

h2, h3, h4, h5 {
    letter-spacing: 1px;
}

h2 {
    font-family: "Georgia", "Times New Roman", Helvetica, Arial, sans-serif;
    margin: 40px 0;
    line-height: 25px;
}

.light-gray {
    color: #525252;
}

/*.head {*/
/*padding: 15px 0;*/
/*margin: 10px 0;*/
/*border-bottom: 1px solid #CCC;*/
/*border-top: 1px solid #CCC;*/
/*}*/

.x-small {
    font-size: 10px;
    line-height: 12px;
}

.small {
    font-size: 12px;
    line-height: 14px;
}

.medium-minor {
    font-size: 14px;
    line-height: 16px;
}

.medium {
    font-size: 15px;
    line-height: 18px;
}

.medium-major {
    font-size: 16px;
    line-height: 20px;
}

.large-minor {
    font-size: 17px;
}

.large {
    font-size: 18px;
}

.bold {
    font-weight: bold;
}

ul.pad li {
    padding: 5px;
}

ul.basic {
    padding-left: 15px;
}

.c {
    text-align: center;
}

.ra {
    text-align: right;
}

.la {
    text-align: left;
}

.ml10 {
    margin-left: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

.mar10 {
    margin: 10px;
}

.pt4 {
    padding-top: 4px;
}

.pad10 {
    padding: 10px;
}

.pl10 {
    padding-left: 10px;
}

.pl20 {
    padding-left: 20px;
}

.pr10 {
    padding-right: 10px;
}

/* Copied from Bootstrap */
textarea, input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
.uneditable-input {
    background-color: white;
    border: 1px solid #CCC;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    display: inline-block;
    height: 20px;
    padding: 4px 6px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #555;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#calender_link {
  width: 600px;
  text-align: center;
}

table.basic {
    margin: 0;
    padding: 0;
}

table.basic td {
    padding: 2px 5px;
}

.w500 {
    width: 500px;
}

.w600 {
    width: 600px;
}

.w700 {
    width: 700px;
}

.w49 {
    width: 49%;
}

textarea {
    width: 100%;
    box-sizing: border-box;
    height: auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

input.instep {
    line-height: 10px;
    padding: 3px;
    width: 20px;
    height: auto;
    margin-bottom: 4px;
    text-align: right;
}

.section-wrap {
    border-top: 1px solid #E2E2E2;
    border-bottom: 1px solid #E2E2E2;
}

.alert-block {
    padding-top: 14px;
    padding-bottom: 14px;
    margin-bottom: 5px;
}

.alert-danger,
.alert-error {
    color: #B94A48;
    background-color: #F2DEDE;
    border-color: #EED3D7;
}

.alert-error h4 {
    color: #B94A48;
    margin: 0;
}

.alert {
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #FCF8E3;
    border: 1px solid #FBEED5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.alert-info {
    color: #3A87AD;
    background-color: #D9EDF7;
    border-color: #BCE8F1;
}

.alert .close {
    position: relative;
    top: -2px;
    right: -21px;
    line-height: 20px;
}

button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

.fade {
    opacity: 0;
    -webkit-transition: opacity 0.15s linear;
    -moz-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}

.close {
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    color: black;
    text-shadow: 0 1px 0 white;
    opacity: 0.2;
    filter: alpha(opacity=20);
}

.in {
    opacity: 1;
}

.available,
.unavailable {
    padding: 0 5px;
    display: none;
}

.unavailable {
    color: #DF0101
}

.green,
.available {
    color: #088A08
}

a.linked {
    text-decoration: none;
    color: #0069D0;
}

a.linked:visited {
    text-decoration: none;
    color: #005AB3;
}

a.linked:hover {
    color: #006FDE;
    text-decoration: underline;
}

body {
    background-color: #fff;
    color: #333;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
}

p, ol, ul, td {
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

pre {
    background-color: #eee;
    padding: 10px;
    font-size: 11px;
}

a {
    color: #000;
}

a:visited {
    color: #666;
}

div.field, div.actions {
    margin-bottom: 10px;
}

#notice {
    color: green;
}

.field_with_errors input {
    background-color: #FCF8E3;
    border: 1px solid #B94A48;
}

#error_explanation {
    width: 450px;
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

#error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
}

#error_explanation ul li {
    font-size: 12px;
    list-style: square;
}

#people_count {
    margin: 0;
    border: none;
    border-bottom: 1px dotted #8A4B08;
    padding: 0 3px;
    text-align: center;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
